<div id="<%= dom_id developer %>">
  <p>
    <strong>Name:</strong>
    <%= developer.name %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= developer.employee_id %>
  </p>

  <p>
    <strong>Kudos:</strong>
    <%= developer.kudos %>
  </p>

  <p>
    <strong>Current sprint:</strong>
    <%= developer.current_sprint_id %>
  </p>

  <p>
    <strong>Current pairing:</strong>
    <%= developer.current_pairing_id %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= developer.job_title %>
  </p>

  <p>
    <strong>Is on pto:</strong>
    <%= developer.is_on_pto %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= developer.manager_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= developer.user_id %>
  </p>

</div>
