<div id="<%= dom_id pto_request %>">
  <p>
    <strong>Start date:</strong>
    <%= pto_request.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= pto_request.end_date %>
  </p>

  <p>
    <strong>Developer:</strong>
    <%= pto_request.developer_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= pto_request.status %>
  </p>

  <p>
    <strong>Approved at:</strong>
    <%= pto_request.approved_at %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= pto_request.manager_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= pto_request.note %>
  </p>

</div>
