<p style="color: green"><%= notice %></p>

<%= render @pto_request %>

<div>
  <%= link_to "Edit this pto request", edit_pto_request_path(@pto_request) %> |
  <%= link_to "Back to pto requests", pto_requests_path %>

  <%= button_to "Destroy this pto request", @pto_request, method: :delete %>
</div>
