<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Source url:</strong>
    <%= recipe.source_url %>
  </p>

  <p>
    <strong>Youtube url:</strong>
    <%= recipe.youtube_url %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= recipe.image_url %>
  </p>

  <p>
    <strong>Thumbnail url:</strong>
    <%= recipe.thumbnail_url %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= recipe.instructions %>
  </p>

  <p>
    <strong>Grocery list:</strong>
    <%= recipe.grocery_list %>
  </p>

  <p>
    <strong>Ingredient 1:</strong>
    <%= recipe.ingredient_1 %>
  </p>

  <p>
    <strong>Ingredient 2:</strong>
    <%= recipe.ingredient_2 %>
  </p>

  <p>
    <strong>Ingredient 3:</strong>
    <%= recipe.ingredient_3 %>
  </p>

  <p>
    <strong>Ingredient 4:</strong>
    <%= recipe.ingredient_4 %>
  </p>

  <p>
    <strong>Ingredient 5:</strong>
    <%= recipe.ingredient_5 %>
  </p>

  <p>
    <strong>Ingredient 6:</strong>
    <%= recipe.ingredient_6 %>
  </p>

  <p>
    <strong>Ingredient 7:</strong>
    <%= recipe.ingredient_7 %>
  </p>

  <p>
    <strong>Ingredient 8:</strong>
    <%= recipe.ingredient_8 %>
  </p>

  <p>
    <strong>Ingredient 9:</strong>
    <%= recipe.ingredient_9 %>
  </p>

  <p>
    <strong>Ingredient 10:</strong>
    <%= recipe.ingredient_10 %>
  </p>

  <p>
    <strong>Ingredient 11:</strong>
    <%= recipe.ingredient_11 %>
  </p>

  <p>
    <strong>Ingredient 12:</strong>
    <%= recipe.ingredient_12 %>
  </p>

  <p>
    <strong>Ingredient 13:</strong>
    <%= recipe.ingredient_13 %>
  </p>

  <p>
    <strong>Ingredient 14:</strong>
    <%= recipe.ingredient_14 %>
  </p>

  <p>
    <strong>Ingredient 15:</strong>
    <%= recipe.ingredient_15 %>
  </p>

  <p>
    <strong>Ingredient 16:</strong>
    <%= recipe.ingredient_16 %>
  </p>

  <p>
    <strong>Ingredient 17:</strong>
    <%= recipe.ingredient_17 %>
  </p>

  <p>
    <strong>Ingredient 18:</strong>
    <%= recipe.ingredient_18 %>
  </p>

  <p>
    <strong>Ingredient 19:</strong>
    <%= recipe.ingredient_19 %>
  </p>

  <p>
    <strong>Ingredient 20:</strong>
    <%= recipe.ingredient_20 %>
  </p>

</div>
