<div id="<%= dom_id schedule %>">
  <p>
    <strong>Json schedule:</strong>
    <%= schedule.json_schedule %>
  </p>

  <p>
    <strong>Raw text schedule:</strong>
    <%= schedule.raw_text_schedule %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= schedule.project_id %>
  </p>

  <p>
    <strong>Sprint:</strong>
    <%= schedule.sprint_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= schedule.user_id %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= schedule.manager_id %>
  </p>

  <p>
    <strong>Is approved:</strong>
    <%= schedule.is_approved %>
  </p>

  <p>
    <strong>Approved at:</strong>
    <%= schedule.approved_at %>
  </p>

</div>
