<div id="<%= dom_id sprint %>">
  <p>
    <strong>Number:</strong>
    <%= sprint.number %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= sprint.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= sprint.end_date %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= sprint.is_active %>
  </p>

  <p>
    <strong>Is successful:</strong>
    <%= sprint.is_successful %>
  </p>

  <p>
    <strong>Kudos:</strong>
    <%= sprint.kudos_id %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= sprint.manager_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= sprint.user_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sprint.description %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= sprint.name %>
  </p>

</div>
