<div id="<%= dom_id diet_profile %>">
  <p>
    <strong>User:</strong>
    <%= diet_profile.user_id %>
  </p>

  <p>
    <strong>Developer:</strong>
    <%= diet_profile.developer_id %>
  </p>

  <p>
    <strong>Restrictions:</strong>
    <%= diet_profile.restrictions %>
  </p>

  <p>
    <strong>Favorites:</strong>
    <%= diet_profile.favorites %>
  </p>

  <p>
    <strong>Allergies:</strong>
    <%= diet_profile.allergies %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= diet_profile.likes %>
  </p>

  <p>
    <strong>Dislikes:</strong>
    <%= diet_profile.dislikes %>
  </p>

</div>
