<div id="<%= dom_id project %>">
  <p>
    <strong>Lead developer:</strong>
    <%= project.lead_developer_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= project.user_id %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= project.manager_id %>
  </p>

  <p>
    <strong>Source url:</strong>
    <%= project.source_url %>
  </p>

  <p>
    <strong>Is complete:</strong>
    <%= project.is_complete %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= project.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= project.end_date %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= project.priority %>
  </p>

</div>
