<div id="<%= dom_id pairing %>">
  <p>
    <strong>Developer1:</strong>
    <%= pairing.developer1_id %>
  </p>

  <p>
    <strong>Developer2:</strong>
    <%= pairing.developer2_id %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= pairing.manager_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= pairing.user_id %>
  </p>

  <p>
    <strong>Sprint:</strong>
    <%= pairing.sprint_id %>
  </p>

  <p>
    <strong>Kudos:</strong>
    <%= pairing.kudos_id %>
  </p>

</div>
